<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v12.0"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="PavasoCloud_Entities" connectionString="metadata=res://*/PavasoCloud_Entities.csdl|res://*/PavasoCloud_Entities.ssdl|res://*/PavasoCloud_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=201PADCSQL1-V\PADCSQLSERVER;initial catalog=GCS_Staging;user id=padc_dev;password=abcde12345-;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
		<add key="BucketName" value="2.0.0.0"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
